@charset "utf-8";
 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/*for fluid layout*/
.col-main, .col-footer, img {
	width: 100%;
}

.html{
  background-image: url(img/background.png)
}

/*header styling*/
.logo{
	float: left;
	width: 10%;
	padding: 15px;
	box-sizing: border-box;
	background: #7CC576;
}
.title{
	background: #7CC576;
	width: 90%;
	float: left;
	box-sizing: border-box;
	padding: 20px;
	text-align: left;
}

.main-nav li a {
	background-color: #6DCFF6;
	display: block;
	padding: 10px;
	box-sizing: border-box;
}
.main-nav li {
	background: #7CC576;
	float: left;
	padding: 1%;
	width: 20%;
	box-sizing: border-box;
}

/*main content styling*/
.main{
	position: relative;
	float: left;
}
.main-content-title{
	width: 75%;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	text-align: left;
}
.sidebar{
	position: relative;
	width: 25%;
	float: right;
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	padding-left: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.image-gallery{
	position: relative;
	display: inline-block;
	width: 33%;
	float: left;
	box-sizing: border-box;
	padding: 20px;
}
/*footer styling*/
footer{
	background: #7CC576;
	box-sizing: border-box;
	float: left;
	width: 100%;
}
.links{
	width: 5%;
	display: inline-block;
	box-sizing: border-box;
	float: left;
}